
a {
    color: inherit;
}

body {
    margin: 55px auto auto auto;
    background: #e5e5e5;
    font-family: Consolas;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(221,221,221);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dddddd",GradientType=1);
}

main {
    margin: 16px 0 0 0;
    background: white;
    border-radius: 10px;
    padding-bottom: 16px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.container {
    width: 100%;
    padding: 2px 16px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

canvas {
    background: #eee;
    border: 1px solid Black;
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 75vh;
    height: auto;
    max-width: 100%;
}


/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 10px 16px;
    color: white;
    background: #333;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
}

.parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("parallax.jpg");

    height: 33vh;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    margin: 32px;
    text-decoration: none;
    background-color: white;
}

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add rounded corners to the top left and the top right corner of the image */
.card-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.hero {
    /* Grid styles */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

#control-collapse {
    margin:0;
    padding:0;
    text-decoration: none;
    font-size: 1.17em;
    font-weight: bold;
    cursor: pointer;
}

#collapsible {
    margin:0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.game-controller {
    text-align: center;
}
.game-buttons {
    font-family: consolas;
    padding: 16px 32px;
    margin: 4px 2px 0px 2px;
}

footer {
    text-align: center;
}